In [2]:
import sqlite3 as sql
def create_database():
    conn = sql.connect('test.db')
    conn.close()
    print("Database created successfully")
    
create_database()

Database created successfully

In [8]:
def create_table():
    conn = sql.connect('test.db')
    cursor = conn.cursor()
    # cursor.execute('''drop table employees''')
    cursor.execute('''
                   CREATE TABLE if not exists employees(
                       id Integer PRIMARY KEY,
                       name text not null,
                       age Integer, 
                       department text
                   )
''')
    conn.commit()
    conn.close()
    print("Table created successfully")

create_table()

Table created successfully

In [25]:
def insert_data(name, age, department):
    conn = sql.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('''
                   INSERT INTO employees(name, age, department)
                   VALUES(?, ?, ?)
''', (name, age, department))
    conn.commit()
    conn.close()
    print("Data inserted successfully")
    
insert_data('Jiban', 22, "Developer")

Data inserted successfully

In [26]:
insert_data('Bob', 25, 'Engineering')
insert_data('Charlie', 28, 'Sales')
insert_data('David', 35, 'Marketing')
insert_data('Eve', 22, 'HR')

Data inserted successfully
Data inserted successfully
Data inserted successfully
Data inserted successfully

In [34]:
def fetch_data():
    conn = sql.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('''
                   SELECT * FROM employees
''')
    rows = cursor.fetchall()
    for row in rows:
        print(row)
    conn.close()
fetch_data()

(1, 'Jiban', 22, 'Developer')
(2, 'Bob', 25, 'HR')
(3, 'Charlie', 28, 'Sales')
(4, 'David', 35, 'Marketing')
(5, 'Eve', 22, 'HR')
(6, 'Jiban', 22, 'Developer')
(7, 'Bob', 25, 'Engineering')
(8, 'Charlie', 28, 'Sales')
(9, 'David', 35, 'Marketing')
(10, 'Eve', 22, 'HR')

In [31]:
def ftech_data2(department):
    conn = sql.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('''
                   SELECT * FROM employees WHERE department = ?
''', (department,))
    records = cursor.fetchall()
    for row in records:
        print(row)
    conn.close()
ftech_data2('Engineering')

(7, 'Bob', 25, 'Engineering')

In [35]:
def update_data(id, department):
    conn = sql.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('''
                   UPDATE employees SET department = ? WHERE id = ?
''', (department, id))
    conn.commit()
    conn.close()
    print("Data updated successfully")
update_data(2, 'HR')
fetch_data()

Data updated successfully
(1, 'Jiban', 22, 'Developer')
(2, 'Bob', 25, 'HR')
(3, 'Charlie', 28, 'Sales')
(4, 'David', 35, 'Marketing')
(5, 'Eve', 22, 'HR')
(6, 'Jiban', 22, 'Developer')
(7, 'Bob', 25, 'Engineering')
(8, 'Charlie', 28, 'Sales')
(9, 'David', 35, 'Marketing')
(10, 'Eve', 22, 'HR')

In [37]:
# Update the department of 2 employees
update_data(2, 'Research')
update_data(3, 'Customer Support')

# Fetch and display all records
fetch_data()

Data updated successfully
Data updated successfully
(1, 'Jiban', 22, 'Developer')
(2, 'Bob', 25, 'Research')
(3, 'Charlie', 28, 'Customer Support')
(4, 'David', 35, 'Marketing')
(5, 'Eve', 22, 'HR')
(6, 'Jiban', 22, 'Developer')
(7, 'Bob', 25, 'Engineering')
(8, 'Charlie', 28, 'Sales')
(9, 'David', 35, 'Marketing')
(10, 'Eve', 22, 'HR')

In [39]:
def delete_data(id):
    conn = sql.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('''
                   DELETE FROM employees where id = ?
''', (id, ))
    conn.commit()
    conn.close()
    print("Data deleted successfully")
delete_data(2)
fetch_data()

Data deleted successfully
(1, 'Jiban', 22, 'Developer')
(3, 'Charlie', 28, 'Customer Support')
(4, 'David', 35, 'Marketing')
(5, 'Eve', 22, 'HR')
(6, 'Jiban', 22, 'Developer')
(7, 'Bob', 25, 'Engineering')
(8, 'Charlie', 28, 'Sales')
(9, 'David', 35, 'Marketing')
(10, 'Eve', 22, 'HR')

In [41]:
# Delete an employee
delete_data(4)

# Fetch and display all records
fetch_data()

Data deleted successfully
(1, 'Jiban', 22, 'Developer')
(3, 'Charlie', 28, 'Customer Support')
(5, 'Eve', 22, 'HR')
(6, 'Jiban', 22, 'Developer')
(7, 'Bob', 25, 'Engineering')
(8, 'Charlie', 28, 'Sales')
(9, 'David', 35, 'Marketing')
(10, 'Eve', 22, 'HR')