In [3]:
def print_something():
    print("Hello, World!")

In [5]:
print_something()

Hello, World!

In [6]:
def even_or_odd(num):
    if num % 2 == 0:
        return "Even"
    else:
        return "odd"

In [9]:
even_or_odd(-1)

'odd'

In [10]:
def add(a, b):
    return a + b
result = add(5 , 3)
print(result)

8

In [ ]:
def greet(name = "Guest"):
    return f"Hello {name}!"

'Hello Guest!'

In [14]:
greet()

'Hello Guest!'

In [13]:
greet("Jiban")

'Hello Jiban!'

In [1]:
def print_numbers(*args):
    for i in args:
        print(i, end = "\t")
print_numbers(1, 2, 3, 4, 5, "Jiban", 3.14, True)

1	2	3	4	5	Jiban	3.14	True

In [2]:
def print_details(**args):
    for key, value in args.items():
        print(f"{key} : {value}")
print_details(name = "Jiban", age = 22, city = "Cuttack", country = "India")

name : Jiban
age : 22
city : Cuttack
country : India

In [18]:
def printDetails(*args, **kwargs):
    for i in args:
        print(i, end = "\t")
    print()
    for key, value in kwargs.items():
        print(f"{key} : {value}")
printDetails(1, 2, 3, 4, 5, "Jiban", 3.14, True, name = "Jiban", age = 22, city = "Cuttack", country = "India")

1	2	3	4	5	Jiban	3.14	True
name : Jiban
age : 22
city : Cuttack
country : India

In [20]:
def multiply(a, b):
    return a * b, a
multiply(5, 3)

(15, 5)