In [2]:
for i in range(10): 
    if(i % 2 == 0) :
        continue;
    print(i, end = " ")

1 3 5 7 9

In [8]:
for i in range(5):
    if(i % 2 == 0):
        pass
    print(i, end = " ")

0 1 2 3 4

In [18]:
i = 1
while i  < 10: 
    print(i)
    if(i == 5):
        break;
    i += 1

1
2
3
4
5

In [20]:
for i in range(3):
    for j in range(3):
        print(f"i = {i}, j = {j}")

i = 0, j = 0
i = 0, j = 1
i = 0, j = 2
i = 1, j = 0
i = 1, j = 1
i = 1, j = 2
i = 2, j = 0
i = 2, j = 1
i = 2, j = 2

In [22]:
n = 10;
sum = 0;
count = 1;
while count <= n:
    sum += count;
    count += 1

print("Sum of first", n, "numbers is", sum)

Sum of first 10 numbers is 55

In [32]:
count = 0;
for i  in range(2, 10):
    for j in range(2, i):
        if(i % j == 0):
            count += 1
            break
    if(count == 0):
        print(i, end = " ")
    count = 0

2 3 5 7

In [34]:
i = 0;
while i < 10:
    i += 1
    print(i, end = " ")

1 2 3 4 5 6 7 8 9 10

In [37]:
for i in range(3):
    for j in range(3):
        print("*", end=" ")
    print()

* * *
* * *
* * *