In [1]:
student = {
    "name" : "Jiban Jyoti Mohanty",
    "age"  : 22, 
    "grade" : "A",
}
print(student)
print(type(student))

{'name': 'Jiban Jyoti Mohanty', 'age': 22, 'grade': 'A'}
<class 'dict'>

In [10]:
student = {
    "name" : "Jiban Jyoti Mohanty",
    "age"  : 22, 
    "grade" : "A",
    "grade" : "A+",
}
print(student)
print(student["name"])
print(student.get("name"))
print(student.get("age"))
print(student.get("grade"))
print(student.get("lastName"))
print(student.get("lastName", "Not Found"))

{'name': 'Jiban Jyoti Mohanty', 'age': 22, 'grade': 'A+'}
Jiban Jyoti Mohanty
Jiban Jyoti Mohanty
22
A+
None
Not Found

In [12]:
student["city"] = "Cuttack"
print(student)

{'name': 'Jiban Jyoti Mohanty', 'age': 22, 'grade': 'A+', 'city': 'Cuttack'}

In [13]:
del student["grade"]
print(student)

{'name': 'Jiban Jyoti Mohanty', 'age': 22, 'city': 'Cuttack'}

In [15]:
key = student.keys()
values = student.values()
print(key)
print(values)

dict_keys(['name', 'age', 'city'])
dict_values(['Jiban Jyoti Mohanty', 22, 'Cuttack'])

In [16]:
student2 = student
print(student)
print(student2)

{'name': 'Jiban Jyoti Mohanty', 'age': 22, 'city': 'Cuttack'}
{'name': 'Jiban Jyoti Mohanty', 'age': 22, 'city': 'Cuttack'}

In [18]:
student["name"] = "Rikul"
print(student)
print(student2)

{'name': 'Rikul', 'age': 22, 'city': 'Cuttack'}
{'name': 'Rikul', 'age': 22, 'city': 'Cuttack'}

In [ ]:
student3 = student.copy()
print(student)
print(student3)

{'name': 'Rikul', 'age': 22, 'city': 'Cuttack'}
{'name': 'Rikul', 'age': 22, 'city': 'Cuttack'}

In [20]:
student["name"] = "Jiban Jyoti Mohanty"
print(student)
print(student3)

{'name': 'Jiban Jyoti Mohanty', 'age': 22, 'city': 'Cuttack'}
{'name': 'Rikul', 'age': 22, 'city': 'Cuttack'}

In [24]:
for key in student.keys():
    print(key, ":", student[key])
print()
for value in student.values():
    print(value)

name : Jiban Jyoti Mohanty
age : 22
city : Cuttack

Jiban Jyoti Mohanty
22
Cuttack

In [25]:
for key, value in student.items():
    print(key, ":", value)

name : Jiban Jyoti Mohanty
age : 22
city : Cuttack