In [1]:
import pandas as pd

In [4]:
data = [1,2,3,4,5]
series = pd.Series(data)
print(series)
print(type(series))

0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'pandas.core.series.Series'>

In [7]:
data = {
    'a' : 1,
    'b' : 2,
    'c' : 3
}
seires_dict = pd.Series(data)
print(seires_dict)

a    1
b    2
c    3
dtype: int64

In [8]:
data = [10,20,30]
index = ['a', 'b', 'c']
pd.Series(data, index = index)

a    10
b    20
c    30
dtype: int64

In [ ]:
data = {
    'Name' : ['Jiban', 'Jyoti', 'Mohanty'],
    'Age'  : [22,24,25],
    'City' : ['Banglore', 'Cuttack', 'Bhubaneswar']
}
df = pd.DataFrame(data)
print(df)
print(type(df))

      Name  Age         City
0    Jiban   22     Banglore
1    Jyoti   24      Cuttack
2  Mohanty   25  Bhubaneswar
<class 'pandas.core.frame.DataFrame'>

In [10]:
data = [
    {'Name' : "Jiban", 'Age' : 22, 'City' : "Cuttack"},
    {'Name' : "Jyoti", 'Age' : 25, 'City' : "Bhubaneswar"},
    {'Name' : "Mohanty", 'Age' : 26, 'City' : "Banglore"},
]
df = pd.DataFrame(data)
print(df)
print(type(df))

      Name  Age         City
0    Jiban   22      Cuttack
1    Jyoti   25  Bhubaneswar
2  Mohanty   26     Banglore
<class 'pandas.core.frame.DataFrame'>

In [49]:
df = pd.read_excel('FSI-2023-DOWNLOAD.xlsx')
print(df.head(5))
print(df.tail(5))
print(df)

                     Country  Year Rank  Total
0                    Somalia  2023  1st  111.9
1                      Yemen  2023  2nd  108.9
2                South Sudan  2023  3rd  108.5
3  Congo Democratic Republic  2023  4th  107.2
                     Country  Year Rank  Total
0                    Somalia  2023  1st  111.9
1                      Yemen  2023  2nd  108.9
2                South Sudan  2023  3rd  108.5
3  Congo Democratic Republic  2023  4th  107.2
                     Country  Year Rank  Total
0                    Somalia  2023  1st  111.9
1                      Yemen  2023  2nd  108.9
2                South Sudan  2023  3rd  108.5
3  Congo Democratic Republic  2023  4th  107.2

In [18]:
print(df['Country'])
print(type(df))

0                        Somalia
1                          Yemen
2                    South Sudan
3      Congo Democratic Republic
4                          Syria
                 ...
174                  Switzerland
175                  New Zealand
176                      Finland
177                      Iceland
178                       Norway
Name: Country, Length: 179, dtype: object
<class 'pandas.core.frame.DataFrame'>

In [ ]:
print(df.loc[0])

Country                             Somalia
Year                                   2023
Rank                                    1st
Total                                 111.9
S1: Demographic Pressures              10.0
S2: Refugees and IDPs                   9.0
C3: Group Grievance                     8.7
E3: Human Flight and Brain Drain        8.6
E2: Economic Inequality                 9.1
E1: Economy                             9.5
P1: State Legitimacy                    9.6
P2: Public Services                     9.8
P3: Human Rights                        9.0
C1: Security Apparatus                  9.5
C2: Factionalized Elites               10.0
X1: External Intervention               9.1
Name: 0, dtype: object

In [23]:
print(df.loc[0][0])

Somalia

C:\Users\jiban\AppData\Local\Temp;\ipykernel_8680\3587656109.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(df.loc[0][0])

In [20]:
print(df.iloc[0])

Country                             Somalia
Year                                   2023
Rank                                    1st
Total                                 111.9
S1: Demographic Pressures              10.0
S2: Refugees and IDPs                   9.0
C3: Group Grievance                     8.7
E3: Human Flight and Brain Drain        8.6
E2: Economic Inequality                 9.1
E1: Economy                             9.5
P1: State Legitimacy                    9.6
P2: Public Services                     9.8
P3: Human Rights                        9.0
C1: Security Apparatus                  9.5
C2: Factionalized Elites               10.0
X1: External Intervention               9.1
Name: 0, dtype: object

In [30]:
print(df.at[1, 'Country'])

Yemen

In [31]:
print(df.iat[2,2])

3rd

In [50]:
print(df)

                     Country  Year Rank  Total
0                    Somalia  2023  1st  111.9
1                      Yemen  2023  2nd  108.9
2                South Sudan  2023  3rd  108.5
3  Congo Democratic Republic  2023  4th  107.2

In [52]:
df['Salary'] = [1,2,3,4]
print(df)

                     Country  Year Rank  Total  Salary
0                    Somalia  2023  1st  111.9       1
1                      Yemen  2023  2nd  108.9       2
2                South Sudan  2023  3rd  108.5       3
3  Congo Democratic Republic  2023  4th  107.2       4

In [55]:
df.drop('Salary', axis=1, inplace=True)

In [56]:
print(df)

                     Country  Year Rank  Total
0                    Somalia  2023  1st  111.9
1                      Yemen  2023  2nd  108.9
2                South Sudan  2023  3rd  108.5
3  Congo Democratic Republic  2023  4th  107.2

In [57]:
print(df.dtypes)
print(df.describe)

Country     object
Year         int64
Rank        object
Total      float64
dtype: object
<bound method NDFrame.describe of                      Country  Year Rank  Total
0                    Somalia  2023  1st  111.9
1                      Yemen  2023  2nd  108.9
2                South Sudan  2023  3rd  108.5
3  Congo Democratic Republic  2023  4th  107.2>

In [58]:
print(df.describe)

<bound method NDFrame.describe of                      Country  Year Rank  Total
0                    Somalia  2023  1st  111.9
1                      Yemen  2023  2nd  108.9
2                South Sudan  2023  3rd  108.5
3  Congo Democratic Republic  2023  4th  107.2>