In [4]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1, 100, size = (6, 4)), columns=['col1', 'col2', 'col3', 'col4'])
print(df)
df.set_index('col1', inplace=True)
print(df)

   col1  col2  col3  col4
0    55     9    20    70
1    57    88    60    95
2    39    51    45    59
3    41    28    42    26
4    33    29    36    62
5    85    37    85    74
      col2  col3  col4
col1
55       9    20    70
57      88    60    95
39      51    45    59
41      28    42    26
33      29    36    62
85      37    85    74

In [9]:
df = pd.DataFrame(np.random.randint(1, 100, size=(3, 3)), columns = ['A', 'B', 'C'], index = ['X', 'Y', 'Z'])
print(df)
element = df.at['Y', 'B']
print(element)

    A   B   C
X  49  21  22
Y  18  40  20
Z  35  94  75
40

In [12]:
df = pd.DataFrame(np.random.randint(1, 100, size = (5, 3)), columns = ['A', 'B', 'C'])
print(df)
df['D'] = df['A'] * df['B']
print(df)

    A   B   C
0  56  15  81
1  83  18  35
2  77  95  62
3  66  13  57
4  23  49  58
    A   B   C     D
0  56  15  81   840
1  83  18  35  1494
2  77  95  62  7315
3  66  13  57   858
4  23  49  58  1127

In [14]:
df = pd.DataFrame(np.random.randint(1, 100, size= (4, 3)), columns= ['A', 'B', 'C'])
print(df)
row_sum = df.sum(axis=1)
column_sum = df.sum(axis=0)
print(row_sum)
print(column_sum)

    A   B   C
0   2  98  34
1  60  20   3
2  44  92  37
3  42  50  71
0    134
1     83
2    173
3    163
dtype: int64
A    148
B    260
C    145
dtype: int64

In [18]:
df = pd.DataFrame(np.random.randint(1, 100, size = (5, 3)), columns=['A', 'B', 'C'])
print(df)
df.iloc[0, 1] = np.nan
df.iloc[2, 2] = np.nan
df.iloc[4, 0] = np.nan
print(df)
df.fillna(df.mean(), inplace=True)
print(df)

    A   B   C
0  89  63  74
1  10  11  69
2  68  92   8
3  56  46  38
4  75  77   5
      A     B     C
0  89.0   NaN  74.0
1  10.0  11.0  69.0
2  68.0  92.0   NaN
3  56.0  46.0  38.0
4   NaN  77.0   5.0
       A     B     C
0  89.00  56.5  74.0
1  10.00  11.0  69.0
2  68.00  92.0  46.5
3  56.00  46.0  38.0
4  55.75  77.0   5.0

In [22]:
df = pd.DataFrame(np.random.randint(1, 100, size = (6, 4)), columns=['A', 'B', 'C', 'D'])
print(df)
df.iloc[1, 2] = np.nan
df.iloc[3, 0] = np.nan
df.iloc[5, 1] = np.nan
print(df)
df.dropna(inplace=True)
print(df)

    A   B   C   D
0  74  34   4  39
1  12  90  40  18
2  90  16  91  25
3  12   1  92  35
4  19  85  65  85
5  77  76  64  59
      A     B     C   D
0  74.0  34.0   4.0  39
1  12.0  90.0   NaN  18
2  90.0  16.0  91.0  25
3   NaN   1.0  92.0  35
4  19.0  85.0  65.0  85
5  77.0   NaN  64.0  59
      A     B     C   D
0  74.0  34.0   4.0  39
2  90.0  16.0  91.0  25
4  19.0  85.0  65.0  85

In [25]:
df = pd.DataFrame({'Category' : np.random.choice(['A', 'B', 'C'], size = 10), 'Value' : np.random.randint(1, 100, size = 10)})
print(df)
grouped = df.groupby('Category')['Value'].agg(['sum', 'mean'])
print(grouped)

  Category  Value
0        C     81
1        A     15
2        A     85
3        A     75
4        B     37
5        A     32
6        A     84
7        B     17
8        A      5
9        B     16
          sum       mean
Category
A         296  49.333333
B          70  23.333333
C          81  81.000000

In [29]:
df = pd.DataFrame({'Product' : np.random.choice(['A', 'B', 'C'], size = 10), 'Category' : np.random.choice(['A', 'B', 'C'], size = 10), 'Sales' : np.random.randint(1, 100, size = 10)})
print(df)
grouped = df.groupby('Category')['Sales'].sum()
print(grouped)

  Product Category  Sales
0       B        B      1
1       C        C     76
2       A        B     82
3       A        C     69
4       B        C      8
5       B        B     50
6       B        A     67
7       C        C     11
8       C        B     32
9       C        B      1
Category
A     67
B    166
C    164
Name: Sales, dtype: int32

In [31]:
df1 = pd.DataFrame({'Key' : ['A', 'B', 'C', 'D'], 'Value1' : np.random.randint(1, 100, size = 4)})
df2 = pd.DataFrame({'Key' : ['A', 'B', 'C', 'E'], 'Value2' : np.random.randint(1, 100, size = 4)})
print(df1)
print(df2)
merged = pd.merge(df1, df2, on = 'Key')

  Key  Value1
0   A       8
1   B      69
2   C      36
3   D      28
  Key  Value2
0   A      59
1   B      54
2   C      78
3   E      12

In [34]:
df1 = pd.DataFrame({'A' : np.random.randint(1, 100, size = 3), 'B' : np.random.randint(1, 100, size = 3)})
df2 = pd.DataFrame({'C' : np.random.randint(1, 100, size = 3), 'D' : np.random.randint(1, 100, size = 3)})
print(df1)
print(df2)
row = pd.concat([df1, df2], axis = 0)
print(row)
col = pd.concat([df1, df2], axis = 1)
print(col)

    A   B
0  24  93
1  16  90
2   5  43
    C   D
0  70  90
1  42  81
2  50  24
      A     B     C     D
0  24.0  93.0   NaN   NaN
1  16.0  90.0   NaN   NaN
2   5.0  43.0   NaN   NaN
0   NaN   NaN  70.0  90.0
1   NaN   NaN  42.0  81.0
2   NaN   NaN  50.0  24.0
    A   B   C   D
0  24  93  70  90
1  16  90  42  81
2   5  43  50  24

In [40]:
date_rng = pd.date_range(start='2022-01-01', end='2022-12-01', freq='D')
df = pd.DataFrame(date_rng, columns=['date'])
df['data'] = np.random.randint(1, 101, size = (len(date_rng)))
df.set_index('date', inplace=True)
print(df)
monthly_mean = df.resample('M').mean()
print(monthly_mean)

            data
date
2022-01-01    94
2022-01-02    26
2022-01-03    65
2022-01-04    49
2022-01-05    77
...          ...
2022-11-27    97
2022-11-28    27
2022-11-29    92
2022-11-30    17
2022-12-01    60

[335 rows x 1 columns]
                 data
date
2022-01-31  53.870968
2022-02-28  44.964286
2022-03-31  43.354839
2022-04-30  50.400000
2022-05-31  54.483871
2022-06-30  49.466667
2022-07-31  46.741935
2022-08-31  47.580645
2022-09-30  43.900000
2022-10-31  47.096774
2022-11-30  62.266667
2022-12-31  60.000000

C:\Users\jiban\AppData\Local\Temp;\ipykernel_20544\1353435559.py:6: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_mean = df.resample('M').mean()